.App {
  text-align: center;
}


.app {
  margin: 50px;
  font-family: "Avenir Next" !important;
}

div{
  margin: auto;
}
p {
  margin: 0 !important;
}
input {
  font-family: "Avenir Next" !important;
}
.header1 {
  margin-top: 25px;
  font-family: "Avenir Next" !important;
  width: 802px;
  height: 49px;
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
}

.header2 {
  font-weight: 500;
  font-style: italic;
}

label {
  display: block;
  float: left;
}

.acct-input {
  margin: 10px;
  width: 610px;
  height: 36px;
  border-radius: 3px;
  box-shadow: 0 0 2px 0 rgba(74, 144, 226, 0.7);
  border: solid 1px #4a90e2;
  background-color: #ffffff;
}

.refresh-button {
  width: 139px;
  height: 36px;
  border-radius: 6px;
  background-image: linear-gradient(to bottom, #54a4ff, #4383cc);
}

.flex-container {
  display: flex;
  flex-direction: row;
}

.flex-container > div {
  margin: 10px;
  width: 300px;
  height: 384px;
}

.step {
  font-weight: 600;
}

.ARROW {
  width: 25px;
  height: 1px;
  border: solid 2px #ffffff;
}

.line {
  margin-left: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 959px;
  height: 2px;
  border: solid 1px #979797;
}

hr {
  width: 300px;
  height: 1px;
  box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
  border: solid 1px #979797;
  background-color: #ffffff;
}

.info-block {
  display: flex;
  flex-direction: "column";
  height: 53px;
}

.info-block > div {
  margin:10px;
  flex-basis: 50%;
}

.transfer-block {
  margin:10px;
}
.sub-header {
  margin-top: 10px;
}
.buy-input {
  margin: 5px;
  width: 150px;
  height: 36px;
  border-radius: 3px;
  box-shadow: 0 0 2px 0 rgba(74, 144, 226, 0.7);
  border: solid 1px #4a90e2;
  background-color: #ffffff;
}

.buy-button {
  width: 120px;
  height: 36px;
  font-weight: bold;
  border-radius: 6px;
  color: white;
  background-image: linear-gradient(to bottom, #54a4ff, #4383cc);
}

.amount-input {
  width: 122px;
  height: 36px;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
  border: solid 1px #979797;
  background-color: #ffffff;
}
